<header>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <div class="logo">
        <h1>Central do <b style="color:rgba(255, 166, 0, 0.849);">Som</b</h1>
    </div><!--logo-->
  
    <div class="cabeçalho-link">
        <li>
            <a href="/Home">Inicio</a>
        </li>
        <li>
            <a href="/Contato">Contato</a>
        </li>
      <li>
        <a href="/login">Entrar</a>
    </li>
    <li>
    <div class="caixa-busca">
            <input type="text" class="busca-txt" placeholder="Pesquisar">
            <a href="#" class="busca-bnt">
                <img src="../img/icon_lupa.svg" alt="Lupa" height="20" width="20">
            </a>
    </div>
    </li>
    </div><!--cabeçalho-link-->
  </header>